@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Poppins:wght@200;300;400&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #1B2026;
}

nav {
    height: 80px;
    background-color: #14181d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 100%;
}

nav>a>img {
    width: 200px;
    object-fit: cover;
    margin-left: 10px;
}

nav>.header-content {
    padding-right: 10px;
}

.header-content>a {
    margin: 0px 10px 0px 10px;
    font-size: 20px;
    color: #a0a4a7;
}

.header-btn {
    width: 130px;
    height: 35px;
    background-color: #0084ff;
    border-radius: 50px;
}

.header-btn>a {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}


/* .list-menu-nav {
    height: auto;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul li {
    padding-right: 30px;
}

.fa-house-chimney {
    margin-top: 10px;
    padding: 9.5px;
    border-radius: 50%;
    background-color: #0095f8;
    font-size: 16px;
    color: #fff;
}

.fa-gamepad {
    margin-top: 10px;
    padding: 9.5px;
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, #d22afd, #7029fe);
    font-size: 18px;
    color: #fff;
}

.fa-store {
    margin-top: 10px;
    padding: 9.5px;
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, #f78820, #f9442b);
    font-size: 18px;
    color: #fff;
}

.fa-rocket {
    margin-top: 10px;
    padding: 9.5px;
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, #0188fd, #061ee3);
    font-size: 18px;
    color: #fff;
}

.fa-user-group {
    margin-top: 10px;
    padding: 9.5px;
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, #f2cb23, #f79a1f);
    font-size: 15px;
    color: #fff;
}

.fa-store:hover,
.fa-gamepad:hover,
.fa-house-chimney:hover,
.fa-user-group:hover,
.fa-rocket:hover {
    border: 3.5px solid rgb(255, 255, 255);
} */

.sreach {
    width: 300px;
    height: 35px;
    position: relative;
    background-color: #fff;
    border: 1px solid #686969;
    padding: 0px 10px;
    border-radius: 15px;
}

.form-sreach {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.input-sreach {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 15px;
    font-size: 15px;
}

.input-sreach:focus {
    outline: none;
}

.fa-magnifying-glass {
    font-size: 18px;
    color: #0084ff;
}


/* toggle */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}

.switch input {
    display: none;
}

.toggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 21.5px;
    left: 0px;
    bottom: 1.2px;
    background-color: #FFFFFF;
    transition: 0.4s;
    border-radius: 34px;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #535B60;
    transition: .4s;
    border-radius: 50px;
}

input:checked+.toggle {
    background-color: #03CE71;
}

input:checked+.toggle::before {
    transform: translateX(24.5px);
}

.list-menu {
    width: 100%;
    height: 50px;
    background-color: #515356;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-menu ul li {
    margin-right: 25px;
}

.list-menu ul li a:hover {
    color: #FFFFFF;
}

.list-menu ul li a {
    font-size: 16px;
    color: #a0a4a7;
    font-weight: normal;
}

.fa-angle-down {
    margin-left: 4px;
    font-size: 15px;
    color: #a0a4a7;
}

.list-menu span {
    font-size: 25px;
    line-height: 25px;
    color: #a0a4a7;
    font-weight: bold;
}

.sale span {
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    color: #a0a4a7;
    margin-right: 15px;
}

.sale {
    display: flex;
    align-items: center;
    ;
}

.has-menu-child-market {
    position: relative;
}

.has-menu-child-market:hover>.block {
    display: block;
    animation: slideup .3s ease-in-out;
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.block {
    display: none;
}

.menu-child-market:before {
    content: "";
    width: 580px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    transform: translateY(-100%);
}

.menu-child-market {
    position: absolute;
    top: 30px;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: justify;
    background-color: #535B60;
    border-radius: 20px;
}

.menu-child-market-1:before {
    content: "";
    width: 580px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    transform: translateY(-100%);
}

.menu-child-market-1 {
    position: absolute;
    top: 30px;
    width: 250px;
    height: 300px;
    display: flex;
    text-align: justify;
    background-color: #535B60;
    border-radius: 20px;
}

.box-menu-child {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box-menu-child li a {
    transition: all .3s ease-in-out;
}

.box-menu-child li a:hover {
    padding-left: 10px;
    color: #ffffff;
}

.box-menu-child ul li a {
    color: #A09F87;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.has-menu {
    position: relative;
}

.menu {
    border-radius: 10px;
    position: absolute;
    top: 25px;
    left: 30px;
    width: 350px;
    height: 200px;
    background-color: #686969;
    display: none;
}

.has-menu:hover>ul>.menu {
    display: block;
    animation: effect-right .3s ease-in-out;
}

@keyframes effect-right {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.menu li {
    margin: 15px 10px;
}

.menu li a {
    color: #A09F87;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.menu li a input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.fix-block {
    display: none;
}

.box-menu-child-market:before {
    content: "";
    width: 580px;
    height: 20px;
    position: absolute;
    top: 20px;
    bottom: 0;
    background-color: transparent;
    transform: translateY(-100%);
}

.has-menu-child-market .box-menu-child-market {
    width: 550px;
    height: 250px;
    position: absolute;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #535B60;
    padding: 0px 10px;
    border-radius: 10px;
}

.has-menu-child-market:hover>.fix-block {
    display: block;
    animation: effect-top .2s ease-out
}

.menu-child-market-fixed li {
    margin: 10px 0px;
    transition: all .3s ease-in-out;
}

.menu-child-market-fixed li:hover {
    padding-left: 8px;
}

@keyframes effect-top {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.has-menu-slots {
    position: relative;
}

.has-menu-slots:hover>ul>.menu-slots {
    display: block;
    animation: effect-hover-slots .3s ease-in;
}

@keyframes effect-hover-slots {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.menu-slots {
    position: absolute;
    top: 30px;
    left: -20px;
    width: 200px;
    height: 150px;
    background-color: #686969;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

.menu-slots:before {
    content: "";
    width: 180px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    transform: translateY(-100%);
}

.menu-slots li {
    margin: 7px 0px;
}

.menu-slots li a input[type="checkbox"] {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.has-menu-catalyst {
    position: relative;
}

.has-menu-catalyst:hover>ul>.menu-catalyst {
    display: block;
    animation: effect-hover-catalyst .3s ease-out;
}

@keyframes effect-hover-catalyst {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.menu-catalyst {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 400px;
    height: 250px;
    background-color: #494e4e;
    border-radius: 10px;
    padding: 20px;
    display: none;
}

.menu-catalyst:before {
    content: "";
    width: 400px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    background-color: transparent;
    transform: translateY(-100%);
}

.menu-catalyst li {
    margin: 15px 0px;
}

.menu-catalyst li a input[type="checkbox"] {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.menu-catalyst li a .a {
    font-size: 15px;
    line-height: 15px;
    font-weight: normal;
    color: #d275fa;
    margin-left: 10px;
    width: 60px;
    height: 30px;
    border: 1.5px solid #d275fa;
    padding: 2px;
    border-radius: 5px;
}

.menu-catalyst li a .b {
    font-size: 15px;
    line-height: 15px;
    font-weight: normal;
    color: #00adef;
    margin-left: 10px;
    width: 60px;
    height: 30px;
    border: 1.5px solid #00adef;
    padding: 2px;
    border-radius: 5px;
}

.menu-catalyst li a .c {
    font-size: 15px;
    line-height: 15px;
    font-weight: normal;
    color: #ffffff;
    margin-left: 10px;
    width: 60px;
    height: 30px;
    border: 1.5px solid #ffffff;
    padding: 2px;
    border-radius: 5px;
}

.menu-catalyst li a .d {
    font-size: 15px;
    line-height: 15px;
    font-weight: normal;
    color: #7d818b;
    margin-left: 10px;
    width: 60px;
    height: 30px;
    border: 1.5px solid #7d818b;
    padding: 2px;
    border-radius: 5px;
}

.menu-catalyst li a span {
    font-size: 15px;
    line-height: 15px;
    font-weight: normal;
    color: #fe8636;
    margin-left: 10px;
    width: 60px;
    height: 30px;
    border: 1.5px solid #fe8636;
    padding: 2px;
    border-radius: 5px;
}

.content {
    width: 1100px;
    height: auto;
    margin: 50px auto;
    margin-top: 130px;
    background-color: #1B2026;
}

.content h1 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
}

.content p {
    text-align: center;
    font-size: 15px;
    color: #bdc0c2;
}

.filter-shop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #505861;
}

.filter {
    margin-right: 20px;
}

.filter-shop span {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.filter label {
    font-size: 15px;
    color: #a0a4a7;
}

.filter select {
    width: 130px;
    height: 40px;
    padding: 0px 3px;
    color: #ffffff;
    font-weight: normal;
    background-color: #2f3740;
    border: none;
}

.box-product-main {
    width: 206px;
    height: 280px;
    position: relative;
    border: 2px solid #21d3c7;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    place-items: center;
}

.box-product-main:hover {
    border: 2px solid #86898d;
}

.cart-img-left {
    position: absolute;
    top: 2px;
    left: 2px;
}

.cart-img-right {
    width: 25px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.product {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product span {
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
}

.product p {
    font-size: 13px;
}

.product-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.price img {
    margin-right: 5px;
}

.price p {
    color: #ffbf36;
    font-weight: bold;
    font-size: 16px;
}

.price {
    display: flex;
}

.price-a span {
    font-size: 14px;
    color: #a0a4a7;
}

.fa-cart-plus {
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

.list-product-main {
    margin-top: 35px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    place-items: center;
}

.list-nft-pr {
    margin-top: 60px;
    width: 100%;
    height: auto;
}

.list-nft-pr span {
    width: 100%;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    margin-bottom: 50px;
}

.list-nft {
    width: 100%;
    padding-top: 50px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.box-product-nft {
    border: 2px solid #ffffff;
    border-radius: 10px;
    width: 206px;
    height: 270px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-left {
    position: absolute;
    top: 2px;
    left: 2px;
}

.info-nft span {
    border: none;
    margin: 10px 0px;
}

.price-nft {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-circle-plus {
    padding: 10px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #494e4e;
    font-size: 17px;
}

.product-footer {
    width: 1100px;
    height: auto;
    margin: 30px auto;
}

.tittle-product-footer {
    width: 100%;
    height: 35px;
    border-bottom: 2px solid #515356;
}

.tittle-product-footer span {
    font-size: 23px;
    color: #ffff;
    font-weight: bold;
}

.product-footer p {
    font-size: 14px;
    text-align: justify;
    padding: 10px 5px;
    color: #ffffff;
}

.box-slider {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.box-main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    place-items: center;
}

.map {
    width: 270px;
    height: 350px;
    display: flex;
    background-color: #1B2026;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
}

.img-map {
    width: 200px;
    object-fit: cover;
    padding: 10px 0px;
    justify-content: flex-start;
}

.info-map a {
    display: flex;
    align-items: center;
}

.info-map span {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.info-map a img {
    width: 30px;
}

.btn {
    width: 180px;
    height: 35px;
    border-radius: 20px;
    background-color: #0084ff;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: #00adef;
}

.btn img {
    width: 30px;
    margin: 0px 10px;
}

.join-us {
    margin-top: 200px;
    width: 100%;
    height: 190px;
    background-position: 60% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.txt-footer {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 350px;
    display: flex;
    flex-direction: column;
}

.txt-footer h1 {
    font-size: 25px;
    line-height: 25px;
    color: #ffffff;
    font-weight: bold;
}

.txt-footer span {
    margin: 9px 0px;
    color: #ffffff;
    font-size: 15px;
    text-transform: capitalize;
}

.txt-footer a {
    width: 150px;
    height: 30px;
    background-color: #0055ff;
    border-radius: 20px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    display: inline;
    cursor: pointer;
}

.footer-end {
    width: 100%;
    height: 300px;
    background-color: #14181d;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 35px 0px;
}

.row-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gom>span {
    color: 16px;
    color: #fff;
    margin-right: 5px;
}

.row-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row-2>ul {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.row-2 ul li a {
    font-size: 15px;
    color: #fff;
    transition: all 0.2s ease-in;
}

.row-2 ul li a:hover {
    padding-left: 20px;
}

.row-3 {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.row-3>ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.row-3>.social-tittle {
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 10px;
}

.row-3>ul>li {
    margin-right: 30px;
}

.row-3>ul>li>a>i {
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    padding: 10px 0px;
    transition: all 0.3s ease-out;
}

.row-3>ul>li>a>i:hover {
    color: red;
    padding-right: 10px;
}

.row-3>ul>li>a>.fa-discord:hover {
    color: #ffff;
    background-color: #8a9cfe;
    padding: 8px;
    border-radius: 50%;
}

.row-3>ul>li>a>.fa-telegram:hover {
    color: rgb(14, 124, 152);
    background-color: #ffffff;
    padding: 8px;
    border-radius: 50%;
}

.row-3>ul>li>a>.fa-twitter:hover {
    color: rgb(14, 124, 152);
    background-color: #ffffff;
    padding: 8px;
    border-radius: 50%;
}

.row-3>ul>li>a>.fa-facebook:hover {
    color: rgb(255, 255, 255);
    background-color: #1877f2;
    padding: 8px;
    border-radius: 50%;
}

.row-3>ul>li>a>.fa-instagram:hover {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(360deg, #5358d0, #9c37bb, #fecc69, #d92e7d);
    padding: 8px;
    border-radius: 50%;
}

.row-3>ul>li>a>.fa-youtube:hover {
    color: rgb(255, 0, 0);
    background-color: #ffffff;
    padding: 8px;
    border-radius: 50%;
}

.row-3>ul>li>a>.fa-twitch:hover {
    color: rgb(255, 255, 255);
    background-color: #9146ff;
    padding: 8px;
    border-radius: 50%;
}

.hover-numberphone {
    width: 100px;
    height: 50;
    background-color: #fff;
    border-radius: 20px;
    font-weight: bold;
    line-height: 30px;
    display: none;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transition: all 0.3s ease-out; */
}

.animation-phone {
    position: relative;
}

.row-3>ul>li:hover>.hover-numberphone {
    display: block;
    animation: slideup .3s ease-in;
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.contact {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    color: #ffffff;
    margin: 8px 0px;
}

input {
    position: relative;
    display: inline-block;
    font-size: 14px;
    transition: .5s;
}

.fixed-sreach {
    background-color: #fff;
    border: none;
    width: 280px;
    height: 30px;
    outline: none;
    padding: 0px 15px;
    border-radius: 15px 0px 0px 15px;
}

.fixed-submit {
    position: absolute;
    border: none;
    width: 100px;
    height: 30px;
    outline: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    background-color: #0055ff;
    color: #ffffff;
    font-weight: bold;
}

.credit {
    font-size: 14px;
    color: #93a49a;
    padding: 15px 0px;
}


/*  */